.filterCreateDate {
  display: flex;
  flex-direction: column;
}

.filterWrapper {
  display: flex;
  gap: 30px;
  align-items: end;
}

.createDate {
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.title {
  margin: 0 !important;
}

.clearFilters {
  font-size: 18px;
  cursor: pointer;
}

.filterTitleWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    color: var(--color-red-500);
  }
}
