.container {
  margin-top: 80px;
}

.buttons {
  display: flex;
  gap: 20px;

  button {
    background-color: var(--color-success-300);
    color: var(--white);
  }
}

.checkbox {
  margin: 20px 15px 20px 0;
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;

  span {
    white-space: nowrap;
  }
}
