:root {
  /* 🎨 Базовая палитра */
  --white: #ffffff;
  --color-neutral: #101012;
  --color-neutral-100: #f5f7f8;
  --color-neutral-200: #e0e6eb;
  --color-neutral-300: #f0f2f8;
  --color-neutral-400: #82868b;
  --color-neutral-450: #625f6e;
  --color-neutral-500: #bcc2ca;
  --color-neutral-600: #15181f;
  --color-neutral-850: #393f36;
  --color-neutral-900: #34343f;
  --color-link-100: #3c4bc5;
  --color-blue-100: #1f2c84;
  --color-success-100: #7f49de;
  --color-success-300: #4ab10e;
  --color-success-400: #28c76f;
  --color-success-500: #079346;
  --color-warning-100: #fdf6ac;
  --color-warning-200: #91872a;
  --color-warning-300: #fadb14;
  --color-error-100: #f6e6dd;
  --color-error-200: #e1231b;
  --color-error-300: #f12922;
  --color-error-400: #d70d07;
  --color-red-500: #ea5455;
}
