.container {
  width: calc(100% - 20px);
  border: 1px solid var(--color-neutral-200);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  touch-action: none !important;
  height: 100vh;
  overflow: hidden;
}
