.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: none;
  margin-top: 20px;

  :global(.ant-card-head) {
    border-bottom: none;
    padding: 0 24px;
    font-size: 16px;
    color: var(--color-neutral-475);
  }

  :global(.ant-form-item-label > label) {
    font-size: 14px;
    color: var(--color-neutral-475);
  }

  :global(.ant-input),
  :global(.ant-select-selector),
  :global(.ant-picker) {
    border-radius: 6px;
    height: 40px;
  }
}

.modal {
  min-width: 800px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 !important;
}

.deleteBtn {
  background-color: transparent;
  border: 1px solid var(--color-red-500);

  &:hover {
    border: 1px solid var(--color-red-500) !important;
    background-color: var(--color-error-100) !important;
  }
}

.delete {
  color: var(--color-red-500);
}

.addSignedBtn {
  background-color: var(--color-success-100);
  color: var(--white);
  font-weight: bold;
  padding: 15px 10px;
  height: 42px;
}

.container {
  margin-top: 80px;
}

.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.selectWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search {
  width: 100%;
}

.table {
  margin-top: 20px;
}
