.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border-radius: 8px;
  padding: 10px 15px;
  min-height: 60px;
  margin: 20px 0;
  box-shadow: 0 4px 24px #22292f1a;

  @media (max-width: 768px) {
    top: 40px;
  }
}

.title {
  margin: 0 !important;
}
