.active {
  background-color: var(--color-success-100);

  svg {
    color: var(--white) !important;
  }
}

.activeLink {
  color: var(--white) !important;
}

.menuItem {
  display: flex;
  flex-wrap: wrap;
}
