.container {
  background-color: var(--color-neutral-300);
  width: 100%;
  min-height: 100vh;
  display: flex;
  gap: 30px;
  position: relative;
}

.contentWrapper {
  padding: 20px 15px;
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-left: 200px;
}
