.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 15px;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: none;

  :global(.ant-card-head) {
    border-bottom: none;
    padding: 0 24px;
    font-size: 16px;
    color: var(--color-neutral-475);
  }

  :global(.ant-form-item-label > label) {
    font-size: 14px;
    color: var(--color-neutral-475);
  }

  :global(.ant-input),
  :global(.ant-select-selector),
  :global(.ant-picker) {
    border-radius: 6px;
    height: 40px;
  }
}

.select {
  height: 40px;
}

.link {
  padding: 6px 8px;
  background-color: var(--color-success-300);
  max-width: 120px;
  color: var(--white);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--white);
    background-color: var(--color-success-400);
  }
}
