.header {
  display: flex;
  position: fixed;
  width: 87.25%;
  z-index: 12;
  line-height: 64px;
  background-color: var(--color-success-100);
  justify-content: end;
  padding: 0;
  padding-right: 30px;
  top: 20px;
  left: 245px;
  border-radius: 8px;
  min-height: 60px;
  align-items: center;
  gap: 10px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  span {
    color: var(--white);
    text-align: end;
  }
}

.role {
  font-size: 12px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.logoutBtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
